/* Custom App stylesheets */

.product-featured-image {
    width: 100px;
}

.person-image-edit {
    width: 200px;
}

ul.submenu li {
    list-style-type: none;
    padding-left: 1.5rem;
    margin: 0;
}